@font-face {
    font-family: 'Raleway';
    src: url(./font/Raleway-VariableFont_wght.ttf);
}

body
{
    width: 100%;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
}
/*header*/
header{
    display: flex;
    align-content: space-between;
    max-width: 1200px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
}
header div img{
    width: 100px;
    height: 50px;
}
header nav,header div{
  width: 50%;
}
nav ul{
    display: flex;
}
nav ul li{
   padding-left: 70px;
   list-style-type: none;
}
nav ul li a {
    text-decoration: none ;
    color: black;
    font-size: 1.2em;
}
nav{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
nav ul li a:hover{
    color: #0065fc;
    border-top: 2px solid #0065fc;
    padding-top: 40px;
    
}

/*main*/
main{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
}
.recherche{
    display: flex;
}
.fa-location-dot{
    border-radius: 15px 0 0% 15px;
    background-color: #f2f2f2;
    padding: 7px;
    padding-top: 15px;
    margin-left: 5px;
    padding-left: 13px;
    padding-right: 13px;
}
#maRecherche{
    height: 48px;
    color: black !important;
    font-size: 1.3em;
    border: 1px solid rgb(245 243 239) !important;
    margin-left: -2px;
}
.button{
    height: 48px;
    background-color: #0065fc; 
    margin-left: -5px; 
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 1.3em;
    border: 1px solid rgb(245 243 239) !important;
}
.premier-para{
    margin-top: -10px;
}
.placeholder{
    color: black !important;
}

.compo_filtre{
    display: flex;
    align-content: space-between;
}
.filtre_icon{
    display: flex;
    margin-left:30px ;
}
.fa-film{
    margin-top: 16px;
    border-radius: 100%;
    width: 48px;
    height: 29px;
    background-color: #d8e1f9;
    color: #0065fc;
    text-align: center;
    padding-top: 17px;
}
.filtre_icon div h1{
    border-radius: 12px 30px 30px 12px;
    border-top: 2px solid #e4dede;
    border-bottom: 2px solid #e4dede;
    border-right: 2px solid #e4dede;
    height: 36px;
    width: auto;
    margin-left: -32px;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 7px;
    font-size: 1.2em;
}
.fa-person{
    margin-top: 16px;
    border-radius: 100%;
    width: 48px;
    height: 29px;
    background-color: #d8e1f9;
    color: #0065fc;
    text-align: center;
    padding-top: 17px;
}
.fa-heart{
    margin-top: 16px;
    border-radius: 100%;
    width: 48px;
    height: 29px;
    background-color: #d8e1f9;
    color: #0065fc;
    text-align: center;
    padding-top: 17px;
}
.fa-dog{
    margin-top: 16px;
    border-radius: 100%;
    width: 48px;
    height: 29px;
    background-color: #d8e1f9;
    color: #0065fc;
    text-align: center;
    padding-top: 17px;
}
.information{
    display: flex;
    align-content: space-between;
}
.fa-info{

    margin-top: 13px;
    border-radius: 100%;
    width: 22px;
    height: 20px;
    background-color: #fdfbfb;
    color: #0065fc;
    text-align: center;
    padding-top: 2px;
    border: 1px solid #a7a0a0;
}
.information p{
    margin-left: 15px;
}
.Titre{
    margin-top: -1px;
}
.étoile{
    color:#0065fc ;
    font-size: 12px;
}
.étoile_blanc{
    color: #e7dfdf;
    font-size: 12px;
}
.les_étoiles{
    margin-top: 15px;
}
article{
    width: 210px;
    height: auto;
    padding: 2px;
    background-color: white;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
}
article img{
    width: 210px;
    height: 110px;
    border-radius: 15px 15px 0 0;
}
.grand_section{
    background-color:#f2f2f2 ;
    width: 70%;
    border-radius: 10px;
}
.titre_grand_section{
    margin-left: 20px;
    padding-top: 25px;
}
.gallerie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.grand_section a{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
} 
.deuxième_section{
    display: flex;
}
aside{
    width: 30%;
    margin-left: 35px;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.autre_article img{
    width: 105px;
    height: 92px;
    border-radius: 15px 0 0 15px;
    margin-right: 10px;
}
.autre_article{
    display: flex;
    width: 270px;
    height: auto;
    margin-top: 40px;
}
article h1 {
    margin-top: 6px;
}
article p{
    margin-top: -22px;
}
article div{
    margin-left: 5px;
    margin-top: -3px;
}

.fa-chart-line{
    margin-left: 60px;
}
.titre_aside{
    margin-left: 20px;
    padding-top: 25px;
    margin-bottom: 40px;
}
.section_activités{
    display: flex;
    justify-content: space-between;
}
.deux_premiers{
    display: flex;
    width: 50%;
}
.unique h2, .double h2{
    font-size: 1.1em;
    border-radius: 0 0 10px 10px;
    border: 1px solid hsl(0, 0%, 100%);
    margin-top: -4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    box-shadow: 6px 6px 6px #e8dddd;
}
.deuxième_section{
    max-width: 1150px;
}
/*.unique,.petit,.grand,.egalité{
    margin-left: 10px;
}*/
.unique img,.double img{
    border-radius: 15px 15px 0 0;
    box-shadow: 4px 4px 6px 6px #f9f5f5;
}
.dernier_section{
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/*footer*/
footer{
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    margin-top: 40px;
    width: 100%;
    max-width: 1400px;
}
footer div p a{
    text-decoration: none;
    color: black;
    margin-top: 7px;
}
footer div h1{
    font-size: 1.3em;
}
footer div p{
    display: flex;
    flex-direction: column
}
.double{
    margin-left: 40px;
}
